*{
  box-sizing: border-box;
} //seleciona todos os elementos na página. útil ao criar layouts responsivos e fluidos, 
  //onde você deseja que as dimensões dos 
  // elementos sejam mais previsíveis em relação ao seu conteúdo interno e bordas.
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: purple;
  cursor: pointer;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

